
* {
    box-sizing: border-box;
}

h1 {
    margin-left: 25px;
    margin-top: 200px;
    width: 100px;
    font-size: 66px;
    color: #fff;
}

a {
    text-decoration: none;
    color: #000;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    max-width: 650px;
}


html {
    font-family: sans-serif;
    background-color: #f1f1f1;
}

.container {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.section-heading {
    margin-left: 44px;
    font-size: 40px;
}



/* Header */
.header {
    width: 100%;
}

.header-abave {
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-abave-left {
    display: flex;
    align-items: center;
}

.logo-phone {
    margin-left: 25px;
    font-size: 22px;
}

.header-abave-right {
    display: flex;
    justify-content: end;
}

.private {
    margin-right: 10px;
}

.header-below {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 15px ;
    background-color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 12px;
}

.header-nav-list {
    margin-left: 20px;
    display: flex;
}

.header-nav-elements:not(:last-child) {
    margin-right: 50px;
}

.header-search-section {
    margin-right: 21px;
    height: 48px;
    width: 355px;
    background-color: #f1f1f1;
    border: 2px solid #f1f1f1;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-search-input {
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;
    height: 100%;
    background-color: #f1f1f1;
    border: 2px solid #f1f1f1;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-search-img {
    margin-right: 21px;
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
}

.header-search-img-search {
    background-image: url(/html/Logoona-hotels/img/search.png);
}

/* Two section in one */

.section-two {
    margin-top: 70px;
    display: flex;

}

.two-left {
    margin-right: 54px;
}

.nav-armor-item {
    width: 518px;
    height: 70px;
    margin-bottom: 24px;
    background-color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 12px;
    display: flex;
    outline: none;
}

.input-shield {
    margin-left: 20px;
    width: 100%;
    height: 100%;
    margin-bottom: 24px;
    background-color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 12px;
}

.search-room {
    display: flex;
    align-items: center;
}

.search-room-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 70px;
    font-size: 16px;
    color: #fff;
    background-color: #c93;
    border-radius: 12px;
}

.numb-rooms {
    margin-left: 30px;
    color: #c93;
}

.numb-text {
    margin-left: 5px;
}

.all-rooms {
    display: flex;
}

.two-right {

    width: 595px;
    height: 540px;

}

.section-lux-back {
    display: flex;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    border-radius: 12px;
}

.section-lux-back-img {
    background-image: url(/html/Logoona-hotels/img/1.jpg);
}



/* About */

.section-about {
    width: 80%;
    margin-top: 70px;
}

.about-text {
    margin-left: 40px;
}

/* Servise */

.section-service {
    display: block;

}

.service-list {
    flex: 1 1 auto;
    display: flex;
    /* flex-direction: column; */
    /* flex-flow: column wrap; */
    flex-wrap: wrap;
    justify-content: space-between;

}

.service-item {
    display: flex;
    flex-direction: column; 
    margin-top: 25px;
    width: 560px;
    height: 325px;
    background-color: #ffffff;
    border: 0px solid #ffffff;
    border-radius: 12px;
}

.service-img {
    width: 100%;
    height: 165px;
    display: flex;
    border-radius: 12px 12p 0px 0px;
    border-radius: 12px 12px 0px 0px;
}  

.service-img-s1{
    background-image: url(/html/Logoona-hotels/img/11.jpg);
} 

.service-img-s2{
    background-image: url(/html/Logoona-hotels/img/21.jpg);
} 

.service-img-s3{
    background-image: url(/html/Logoona-hotels/img/12.jpg);
} 

.service-img-s4{
    background-image: url(/html/Logoona-hotels/img/22.jpg);
} 

.service-name {
    margin-top: 36px;
    margin-left: 44px;
    font-size: 22px;
    color: #c93;
    display: flex;
    align-items: center;

}

.golden-arr {
    display: flex;
    align-items: center;
    margin-left: 5px;
}

.service-text {
    margin-left: 44px;
    width: 75%;
}


/* Advantages */

.section-advantages {}

.advantages-list {
    flex: 1 1 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.advantages-item {
    padding: 12px;
    margin: 5gipx;
    width: 275px;
    height: 275px;
    background-color: #ffffff;
    border: 0px solid #ffffff;
    border-radius: 12px;

}





