

.main-content{
    background-color: #222020;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.h1-skillbox{
    color: white;
    font-family: "Graphik LCG", sans-serif;
    margin: 10px 10px 30px 10px
}


.h2-spacing{
    width: 1000px;
    display: flex;
    /* flex-direction: column; */
    /* align-items: center; */
    /* align-content: space-between; */
    justify-content: center;
    /* flex-shrink: 1; */
}
.h2-downloads{
    margin: 0px 20px 0px 0px;
    padding: 20px;
    color: white;
    background-color: #2f1ce4;
    border: 3px solid #2f1ce4;
    display: inline-block;
}

.h2-program{
    margin: 0px 180px 0px 0px;
    padding: 20px;
    color: white;
    border: 3px solid white;
    display: inline-block;
}




.container{
	width: 1170px;
	margin: 0 auto;
	padding: 30px 0px 30px 0px;
}

.back{
	width: 150px;
	display: flex;
	flex-direction:row;
}

.back-img{
	margin: 0px 0px 0px 0px;

}

.back-text{
	font-size: 20px;
	margin: 0px 0px 0px 20px;

}

.main-caption{
	margin: 0px 0px 0px 0px;
	padding: 100px 100px 0px 0px;
	font-size: 48px;
	color: #222020;

}

.add-caption{
	margin: 0px 0px 0px 0px;
	padding: 100px 180px 25px 0px;
	font-size: 36px;
	color: #2f1ce4;

}

.main-lst{
	margin: 0px 0px 0px 0px;
	padding: 0px 200px 0px 0px;
	font-size: 18px;

}

















@font-face {
	font-family: 'Graphik LCG';
	/* src: url('fonts/GraphikLCG-Medium.woff2') format('woff2'),
		url('fonts/GraphikLCG-Medium.woff') format('woff'); */
	src: url('..fonts/GraphikLCG-Medium.woff2') format('woff2'),
		url('..fonts/GraphikLCG-Medium.woff') format('woff');
	font-display: swap;
	font-weight: 00;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('fonts/Gilroy-Regular.woff2') format('woff2'),
		url('fonts/Gilroy-Regular.woff') format('woff');
	font-display: swap;
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('fonts/Gilroy-ExtraBold.woff2') format('woff2'),
		url('fonts/Gilroy-ExtraBold.woff') format('woff');
	font-display: swap;
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('fonts/Gilroy-Medium.woff2') format('woff2'),
		url('fonts/Gilroy-Medium.woff') format('woff');
	font-display: swap;
	font-weight: 500;
	font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Gilroy', sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}