

.main-content{
    background-color: #222020;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.h1-skillbox{
    color: white;
    font-family: "Graphik LCG", sans-serif;
    margin: 10px 10px 30px 10px;
}


.h2-spacing{
    width: 780px;
    display: flex;
    /* flex-direction: column; */
    /* align-items: center; */
    /* align-content: space-between; */
    justify-content: space-between;
    /* flex-shrink: 1; */
}

.h2-downloads{
    margin: 0px 0px 0px 20px;
    padding: 20px;
    color: white;
    background-color: #2f1ce4;
    border: 3px solid #2f1ce4;
    display: inline-block;
}

.h2-program{
    margin: 0px 200px 0px 0px;
    padding: 20px;
    color: white;
    border: 3px solid white;
    display: inline-block;
}













.container{
	width: 1170px;
	margin: 0 auto;
	padding: 30px 0px 30px 0px;
}

.back{
	display: flex;
	flex-direction:row;
	text-align: center;
}

.back-img{
	margin: 0px 0px 0px 0px;
	max-width: 25px;
}

.back-text{
	font-size: 20px;
	margin: 0px 0px 0px 20px;
}

.main-caption{
	margin: 0px 0px 0px 0px;
	padding: 100px 0px 0px 100px;
	font-size: 48px;
	color: #222020;

}

.add-caption{
	margin: 0px 0px 0px 0px;
	padding: 100px 0px 25px 180px;
	font-size: 36px;
	color: #2f1ce4;

}

.p-add{
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 20px 180px;

}

.main-lst{
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 200px;
	font-size: 18px;

}

.follow-lst{
	color: #2f1ce4;
	text-decoration: underline;
}

.li-add{
	margin: 0px 0px 0px 0px;
	padding: 5px 0px 5px 0px;
}


.blue-point-lst{
	color: #2f1ce4;
}

.color-black-lst{
	padding: 0px 0px 20px 0px;
	color: black;
	text-align: left;
}







.img-program{
    max-width: 400px;
}









.table-main{
	margin: 100px 0px 0px 0px;
	border: 1px solid #a0a0a0;
	border-collapse: collapse;
	text-align: left;
}

.table-caption{
	border: 1px solid #a0a0a0;
	border-collapse: collapse;
	text-align: center;
	
}

.table-footer{
	text-align: center;
}

caption{
	margin: 10px 10px 10px 10px;
	padding: 10px 10px 10px 80px;
	text-align: center;

}

td{
	font-size: 14px;
	margin: 10px 10px 10px 10px;
	padding: 10px 10px 10px 10px;
	border: 1px solid #a0a0a0;
	text-align: left;
}










.modules-header{
	text-align: left;
	/* align-items: center; */
	/* justify-content: center; */
}

.modules-skillbox{
	margin: 25px 0px 25px 370px;
	padding: 25px 0px 25px 0px;
	font-size: 40px;
}

.modules-back{
	margin: 0px 0px 0px 370px;
	padding: 0px 0px 0px 0px;
	display: flex;
	justify-content: left;
}

.modules-back-img{
	margin: 0px 0px 0px 0px;
	max-width: 25px;
}

.modules-back-text{
	font-size: 18px;
	margin: 0px 0px 0px 20px;
}

.modules-caption{
	margin: 25px 0px 25px 470px;
	padding: 25px 0px 25px 0px;
	font-size: 48px;
}






.inf-page{
	width: 1920px;
	height: 2020px;
	margin: 0px auto;
	padding: 0px 0px 0px 0px;
	/* display: inline-block; */


}

.all-bloks{
	margin: 60px 0px 0px 450px;
	padding: 0px 0px 0px 0px;
	/* width: 1024px; */
	/* height: 505px; */
	display: flex;
	/* flex-direction: row; */
	justify-content: left;
}

.main-bloks{
	margin: 0px 0px 0px 60px;
	padding: 0px 0px 0px 0px;
	width: 480px;
	height: 505px;
    border: 1px solid #68f0e9;



	/* display: flex; */
	/* flex-direction: row; */
    /* align-items: center; */
    /* align-content: space-between; */
    /* justify-content: space-between; */
    /* flex-shrink: 1; */
}

.modules-more{
	margin: 100px 670px 863px 780px;
	padding: 50px 150px 54px 0px;
	color: #2f1ce4;
	border: 5px solid #2f1ce4;
	text-align: right;
	font-family: gilroy;

}














































@font-face {
	font-family: 'Graphik LCG';
	src: url('../fonts/GraphikLCG-Medium.woff2') format('woff2'),
		url('../fonts/GraphikLCG-Medium.woff') format('woff');
	font-display: swap;
	font-weight: 00;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-Regular.woff2') format('woff2'),
		url('../fonts/Gilroy-Regular.woff') format('woff');
	font-display: swap;
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-ExtraBold.woff2') format('woff2'),
		url('../fonts/Gilroy-ExtraBold.woff') format('woff');
	font-display: swap;
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-Medium.woff2') format('woff2'),
		url('../fonts/Gilroy-Medium.woff') format('woff');
	font-display: swap;
	font-weight: 500;
	font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Gilroy', sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

figure{
	margin: 50px 0px 50px 200px;
	/* display: inline-block; */
	text-align: center;
}

figcaption{
	margin: 55px 0px 0px 0px;
	text-align: center;
}

