
*
{
    margin: 0;
    padding: 0;

}

section
{
	position: relative ;
	width: 100%;
	height: 100vh;
	background: #5e8ead;
	overflow: hidden;

}

section .wave
{
	position: absolute ;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100px;
    /* background-size: 1000px 100px; */
    background: url(wave.png);
}

section .wave.wave1
{
	animation: animate 20s linear infinite;
	z-index: 1000;
	opacity: 1;
	animation-delay: 0s;
	bottom: 0;
}

@keyframes animate
{
    0%
    {
        background-position-x: 0;
    }
    100%
    {
        background-position-x: 1000px;
    }
}